<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'count.css' %}">
    <title>count</title>
</head>

<body>
    <div class="title">
        <span><img src="../static/image_file/미쳤습니까휴먼.jpg" /></span>
        <div class="title_word">
            <h1>글자를 입력해 보십쇼 휴먼</h1>
        </div>
    </div>
    <div class="contents">
        <form action="{% url 'result' %}" method="post">{% csrf_token %}
            <textarea name="text" id="" cols="100" rows="30"></textarea>
            <br>
            <input type="submit" value="다 썼습니까 휴먼?">
        </form>
    </div>
</body>

</html>