{% extends 'base.html' %}
{% block css_and_webtitle %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
<title>Add post</title>
{% endblock css_and_webtitle %}

{% block content %}
<h1>할 일 추가하기</h1>
<form action="" method="post">
    {% csrf_token %}
    <div class="content_box">
        <div class="title">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" placeholder="제목을 입력해주세요.">
        </div>
        <div class="detail">
            <label for="content">세부사항</label>
            <textarea name="content" id="content" cols="30" rows="10" placeholder="내용을 입력해주세요." onkeyup="counting()" onkeypress="counting()"></textarea>
        </div>
        <div class="counter">
            <p>글자 수(공백 포함): 
                <span class="count_num">0</span>
                자
            </p>
        </div>
        <div class="deadline">
            <label for="deadline">마감 기한</label>
            <input type="datetime-local" id="deadline" name="deadline">
        </div>
    </div>
    <div class="button">
        <button type="submit">작성 완료</button>
    </div>
</form>

<script type="text/javascript">
    function counting() {
        document.querySelector('.count_num').textContent = document.querySelector('#content').value.length;
    }
</script>
{% endblock content %}