{% extends 'base.html' %}
{% block css_and_webtitle %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
<title>Detail</title>
{% endblock css_and_webtitle %}

{% block content %}
<div class="content_box">
    <div class="title">
        <h2>제목</h2>
        <p>{{ post.title }}</p>
    </div>
    <div class="detail">
        <h2>세부사항</h2>
        <p>{{ post.content }}</p>
    </div>
    <div class="deadline">
        <h2>마감 기한</h2>
        <p>{{ post.deadline }}</p>
    </div>
</div>

<div class="comment">
    <div class="comment_make">
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="content" placeholder="댓글을 입력해주세요">
            <button type="submit">댓글 쓰기</button>
        </form>
    </div>

    <div class="comment_content">
        {% for comment in post.comments.all %}
        <li>{{ comment.content }}
            <a href="{% url 'delete_comment' post.pk comment.pk %}">삭제</a>
        </li>
        {% endfor %}
    </div>
</div>

<div class="action">
    <a href="{% url 'home' %}">홈으로</a>
    <a href="{% url 'edit' post.pk %}">수정하기</a>
    <a href="{% url 'delete' post.pk %}">삭제하기</a>
</div>
{% endblock content %}